<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:description" content="{{ og_description }}">
    <meta property="og:image" content="{{ image_url }}">
    <meta property="og:url" content="{{ original_url }}">
    <meta property="og:type" content="website">
    <title>{{ og_title }}</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DK7N59E5QS"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DK7N59E5QS');
    </script>
</head>
<body>
    <h1>Redirecting...</h1>
    <script>
        // Redirect the user to the original URL
        window.location.href = "{{ original_url }}";
    </script>
</body>
</html>w